# Dependencies
node_modules/
**/node_modules/

# Build
dist/
**/dist/
build/

# Environnement
.env
.env.local
.env.docker
**/.env
**/.env.docker
!**/.env.example

# Logs
*.log
npm-debug.log*

# Uploads (fichiers utilisateurs)
**/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
**/prisma/migrations/dev.db

# Docker
**/*.pid
